.container{
    width: 65%;
    margin: 0 auto;
}

header{
    margin-top: 2%;
    margin-bottom: 2%;
}

.formularioInicioSesion{
    margin: 0;
}

fieldset{
    border: 2px solid;
}

#barraSuperior{
    margin-bottom: 2%;
}

#cuadroSesion{
    padding: 25px;
}

#menuPrincipal{
    text-align: center;
}

.navbar-default{
    background-color: white !important;
    border-color: white !important;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.botonMenu{
    margin-left: 5px;
    border-radius: 10px;
}

.botonMenu:hover{
    background-color: #f8f8f8;
}

.activo{
    border-style: solid;
    border-width: 1px;
    border-color: #a8a8a8;
}