.container, header{
    width: 65%;
    margin: 0 auto;
}

header{
    margin-top: 2%;
}

#formularioInicioSesion{
    margin: 0;
}

fieldset{
    border: 2px solid;
}

#barraSuperior{
    margin-bottom: 2%;
}

#cuadroSesion{
    height: 104px;
    padding: 25px;
}

#menuPrincipal{
    text-align: center;
}

.navbar-default{
    background-color: white !important;
    border-color: white !important;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

.botonMenu{
    margin-left: 5px;
    border-radius: 10px;
}

.botonMenu:hover{
    background-color: #f8f8f8;
}

.activo{
    border-style: solid;
    border-width: 1px;
    border-color: #a8a8a8;
}

.etiquetaRecordarContrasena{
    margin-left: 40%;
}

.carouselImg{
    width: 100%;
}

.salaImg{
    width: 25%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 5%;
    border-radius: 50%; /* Borde redondeado */
    box-shadow: 0px 0px 2px #000; /* Sombra */
    padding:0;
    border:0;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
}

.salaImg:hover{
    box-shadow: 0; /* Con esto eliminamos la sombra */
    border-radius: 0; /* Con esto eliminamos el borde redondeado */
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    cursor:pointer;
}

.izquierda{
    float: left;
}

.derecha{
    float: right;
}

.contenidoSala{
    text-align: justify;
    margin-bottom: 3%;
}

.empresaImg{
    width: 189;
    height: 189;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    margin-top: 5%;
    border-radius: 5%; /* Borde redondeado */
    box-shadow: 0px 0px 2px #000; /* Sombra */
    padding:0;
    border:0;
}

.margen{
    margin-top: 5;
}

.filaEvento:hover{
    background-color: #e8e8e8;
}

#todosEventos{
    margin-top: 20;
}

.alertas{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

.col10{
    width: 10%;
}

.col40{
    width: 40%;
}

.col60{
    width: 60%;
}

#salaImgModificar{
    margin-top: 0;
    margin-bottom: 10px;
    width: 100%;
    height: 200px;
}

.vertical-center {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.nombreSala{
    margin-top: 30px;
}

.botonSala{
    width: 84;
    margin-top: 5px;
}

.botonesMiCuenta{
    text-align: center;
    margin-bottom: 25px;
}